In [13]:
import numpy  as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import ipywidgets as widgets
from  IPython.display import display
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
movies_df = pd.read_csv("D:\\other\\code\\aiml_project\\ml-25m\\movies.csv")

In [15]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "",title)

In [17]:
movies_df["clean_title"] = movies_df["title"].apply(clean_title)

In [18]:
movies_df

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [19]:
vectorizer = TfidfVectorizer(ngram_range= (1, 2))
tfidf = vectorizer.fit_transform(movies_df["clean_title"])

In [20]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity,-5)[-5:]
    results = movies_df.iloc[indices][::-1]
    return results

In [21]:
movie_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disabled = False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title)>5:
            display(search(title))
            
movie_input.observe(on_type,names='value')

display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [22]:
ratings = pd.read_csv("D:\\other\\code\\aiml_project\\ml-25m\\ratings.csv")

In [23]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [24]:
movie_id = 1
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

In [25]:
similar_users

array([  36,   75,   86,   90,   93,   95,   96,   98,  111,  120,  127,
        143,  152,  158,  160,  162,  171,  186,  188,  211,  217,  229,
        230,  235,  249,  257,  259,  297,  298,  302,  323,  329,  355,
        359,  369,  371,  381,  392,  402,  411,  428,  435,  439,  447,
        449,  468,  469,  477,  484,  513,  519,  537,  540,  541,  548,
        551,  553,  561,  567,  573,  582,  593,  607,  609,  611,  623,
        624,  626,  628,  631,  644,  653,  654,  670,  683,  686,  694,
        697,  702,  709,  727,  733,  741,  749,  752,  765,  768,  773,
        785,  791,  793,  796,  803,  805,  807,  811,  830,  834,  839,
        848,  856,  896,  904,  905,  911,  927,  947,  950,  956,  966,
        969,  986,  997, 1007, 1010, 1013, 1036, 1038, 1042, 1065, 1079,
       1092, 1096, 1101, 1118, 1123, 1131, 1138, 1140, 1141, 1143, 1146,
       1150, 1159, 1166, 1167, 1169, 1171, 1176, 1179, 1192, 1196, 1198,
       1199, 1200, 1228, 1230, 1232, 1240, 1242, 1268, 1273, 1279, 1304,
       1305, 1313, 1330, 1334, 1336, 1344, 1347, 1378, 1386, 1395, 1397,
       1398, 1401, 1422, 1430, 1445, 1448, 1463, 1475, 1476, 1477, 1478,
       1480, 1488, 1494, 1502, 1510, 1527, 1540, 1548, 1555, 1558, 1560,
       1569, 1573, 1583, 1585, 1586, 1600, 1610, 1635, 1639, 1652, 1653,
       1654, 1662, 1676, 1681, 1687, 1693, 1696, 1720, 1732, 1746, 1748,
       1752, 1755, 1758, 1775, 1777, 1796, 1805, 1814, 1822, 1829, 1831,
       1840, 1845, 1852, 1857, 1871, 1877, 1881, 1887, 1891, 1908, 1911,
       1922, 1928, 1936, 1938, 1956, 1959, 1973, 1977, 1989, 1997, 2020,
       2021, 2032, 2036, 2040, 2098, 2101, 2106, 2107, 2136, 2149, 2153,
       2158, 2161, 2164, 2174, 2200, 2206, 2228, 2247, 2262, 2277, 2284,
       2304, 2310, 2314, 2317, 2345, 2346, 2347, 2353, 2358, 2363, 2376,
       2378, 2385, 2403, 2407, 2413, 2421, 2428, 2445, 2457, 2469, 2473,
       2493, 2500, 2501, 2515, 2555, 2561, 2562, 2565, 2569, 2577, 2582,
       2601, 2603, 2604, 2620, 2646, 2662, 2672, 2674, 2687, 2728, 2756,
       2758, 2760, 2762, 2765, 2766, 2789, 2798, 2799, 2811, 2820, 2821,
       2834, 2838, 2841, 2843, 2845, 2847, 2853, 2872, 2874, 2887, 2901,
       2909, 2924, 2953, 2964, 2977, 2982, 2987, 2990, 3002, 3009, 3010,
       3014, 3015, 3021, 3025, 3028, 3029, 3032, 3048, 3062, 3080, 3089,
       3093, 3102, 3107, 3124, 3125, 3127, 3131, 3146, 3148, 3164, 3169,
       3194, 3212, 3218, 3222, 3226, 3247, 3248, 3253, 3266, 3274, 3279,
       3283, 3296, 3297, 3311, 3329, 3337, 3373, 3412, 3423, 3428, 3437,
       3447, 3450, 3462, 3464, 3467, 3478, 3491, 3502, 3520, 3533, 3537,
       3544, 3551, 3553, 3561, 3573, 3589, 3593, 3604, 3607, 3620, 3624,
       3640, 3641, 3644, 3657, 3668, 3670, 3679, 3680, 3684, 3690, 3702,
       3703, 3707, 3715, 3716, 3717, 3734, 3739, 3743, 3746, 3756, 3760,
       3768, 3772, 3777, 3778, 3783, 3799, 3806, 3824, 3838, 3843, 3858,
       3865, 3867, 3868, 3870, 3889, 3905, 3908, 3912, 3929, 3944, 3956,
       3965, 3968, 3992, 4006, 4008, 4015, 4024, 4033, 4038, 4045, 4062,
       4087, 4102, 4105, 4111, 4115, 4116, 4122, 4127, 4133, 4138, 4164,
       4165, 4173, 4177, 4191, 4206, 4224, 4237, 4240, 4247, 4255, 4260,
       4268, 4275, 4312, 4321, 4324, 4329, 4330, 4332, 4353, 4355, 4364,
       4377, 4379, 4401, 4412, 4427, 4428, 4429, 4435, 4441, 4442, 4446,
       4453, 4457, 4477, 4478, 4479, 4501, 4520, 4537, 4539, 4556, 4568,
       4570, 4574, 4579, 4586, 4600, 4623, 4625, 4628, 4651, 4659, 4675,
       4686, 4698, 4722, 4727, 4729, 4730, 4739, 4741, 4762, 4778, 4795,
       4804, 4820, 4822, 4824, 4831, 4839, 4846, 4847, 4848, 4857, 4867,
       4868, 4869, 4884, 4891, 4896, 4901, 4904, 4911, 4926, 4929, 4932,
       4933, 4938, 4944, 4949, 4950, 4980, 4984, 4992, 4996, 5003, 5004,
       5012, 5050, 5052, 5054, 5068, 5075, 5081, 5082, 5098, 5112, 5115,
       5116, 5135, 5137, 5144, 5153, 5159, 5165, 5167, 5168, 5169, 5170,
       5177, 5183, 5209, 5224, 5240, 5242, 5244, 5272, 5288, 5298, 5306,
       5312, 5320, 5345, 5350, 5368, 5376, 5405, 5417, 5419, 5420, 5427,
       5452, 5454, 5468, 5489, 5491, 5493, 5496, 5511, 5535, 5558, 5571,
       5590, 5591, 5602, 5630, 5647, 5660, 5666, 5667, 5694, 5701, 5705,
       5712, 5717, 5725, 5727, 5735, 5736, 5744, 5745, 5759, 5760, 5770,
       5783, 5784, 5799, 5812, 5817, 5820, 5829, 5842, 5844, 5845, 5872,
       5882, 5883, 5884, 5899, 5910, 5913, 5923, 5931, 5939, 5948, 5972,
       5974, 5989, 5990, 5999, 6008, 6013, 6015, 6018, 6029, 6033, 6036,
       6039, 6055, 6064, 6072, 6077, 6092, 6099, 6102, 6115, 6118, 6119,
       6122, 6134, 6142, 6153, 6154, 6162, 6167, 6184, 6214, 6216, 6221,
       6223, 6247, 6252, 6254, 6255, 6288, 6297, 6313, 6325, 6338, 6339,
       6362, 6377, 6384, 6389, 6393, 6406, 6407, 6408, 6422, 6432, 6440,
       6443, 6444, 6447, 6448, 6456, 6460, 6482, 6512, 6519, 6522, 6532,
       6534, 6543, 6554, 6555, 6556, 6571, 6600, 6603, 6615, 6618, 6637,
       6652, 6667, 6671, 6693, 6711, 6723, 6728, 6729, 6747, 6753, 6760,
       6766, 6770, 6786, 6793, 6796, 6810, 6812, 6816, 6829, 6831, 6832,
       6839, 6859, 6878, 6879, 6893, 6897, 6909, 6912, 6920, 6931, 6936,
       6954, 6968, 6969, 6982, 6985, 6993, 7000, 7003, 7006, 7011, 7033,
       7039, 7042, 7045], dtype=int64)

In [26]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"]> 4)]["movieId"]

In [27]:
similar_user_recs

5101          1
5105         34
5111        110
5114        150
5127        260
           ...
1048561    3996
1048563    4022
1048564    4027
1048565    4223
1048573    4886
Name: movieId, Length: 54307, dtype: int64

In [28]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs>.1]

In [29]:
similar_user_recs

1        1.000000
318      0.430189
260      0.374843
356      0.339623
296      0.338365
           ...
1278     0.101887
780      0.101887
33794    0.101887
953      0.100629
1246     0.100629
Name: movieId, Length: 101, dtype: float64

In [30]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [31]:
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [32]:
all_users_recs

318      0.348655
296      0.283321
2571     0.241814
356      0.234743
593      0.225211
           ...
953      0.042583
1278     0.039508
50872    0.038432
78499    0.036434
2355     0.024750
Name: movieId, Length: 101, dtype: float64

In [33]:
rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis = 1)
rec_percentages.columns = ["similar", "all"]

In [34]:
rec_percentages

        similar       all
1      1.000000  0.122214
318    0.430189  0.348655
260    0.374843  0.211376
356    0.339623  0.234743
296    0.338365  0.283321
...         ...       ...
1278   0.101887  0.039508
780    0.101887  0.052882
33794  0.101887  0.064566
953    0.100629  0.042583
1246   0.100629  0.058878

[101 rows x 2 columns]

In [35]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [36]:
rec_percentages = rec_percentages.sort_values("score", ascending = False)

In [37]:
rec_percentages

        similar       all     score
1      1.000000  0.122214  8.182390
3114   0.267925  0.051038  5.249545
2355   0.113208  0.024750  4.574007
78499  0.153459  0.036434  4.212032
588    0.221384  0.067025  3.302983
...         ...       ...       ...
4973   0.125786  0.106226  1.184137
2329   0.110692  0.094696  1.168913
2858   0.192453  0.165257  1.164563
7361   0.111950  0.102998  1.086914
2959   0.232704  0.215527  1.079702

[101 rows x 3 columns]

In [38]:
rec_percentages.head(10).merge(movies_df, left_index = True, right_on = "movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.122214,8.182390,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.267925,0.051038,5.249545,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.113208,0.024750,4.574007,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.153459,0.036434,4.212032,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
580,0.221384,0.067025,3.302983,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
4780,0.212579,0.067487,3.149941,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
587,0.188679,0.064258,2.936264,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
6258,0.191195,0.067333,2.839551,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
1047,0.140881,0.050423,2.793987,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,Willy Wonka the Chocolate Factory 1971
359,0.242767,0.088701,2.736917,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994

In [39]:
def  find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"]> 4)]["movieId"]
    
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis = 1)
    rec_percentages.columns = ["similar", "all"]
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending = False)
    return rec_percentages.head(10).merge(movies_df, left_index = True, right_on = "movieId")[["score", "title", "genres"]]

In [40]:
movie_input_name = widgets.Text(
    value = "Toy Story", 
    description = "Movie Title:", 
    disabled = False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 2:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))
            
movie_input_name.observe(on_type, names = "value")

display(movie_input_name, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()