In [6]:
import pandas as pd

In [7]:
movies = pd.read_csv("D:\\other\\code\\aiml_project\\movies\\movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
ratings = pd.read_csv("D:\\other\\code\\aiml_project\\movies\\ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
ratings.shape

(100836, 4)

In [10]:
movies.shape

(9742, 3)

In [11]:
movies_users = ratings.pivot(index='movieId',columns='userId',values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from scipy.sparse import csr_matrix

In [13]:
mat_movies = csr_matrix(movies_users.values)

In [14]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric = 'cosine',algorithm = 'brute',n_neighbors = 20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [15]:
from fuzzywuzzy import process

In [16]:
def recommender(movie_name,data,n):
    idx = process.extractOne(movie_name,movies['title'])[2]
    print('Movie Selected : ',movies['title'][idx], 'Index : ',idx)
    print('Searching for recommendation ............')
    distance , indices = model.kneighbors(data[idx],n_neighbors=n)
    for i in indices:
        print(movies['title'][i].where(i!=idx))

In [18]:
recommender('the lion king',mat_movies,10)

Movie Selected :  Father of the Bride Part II (1995) Index :  4
Searching for recommendation ............
4                                             NaN
6                                  Sabrina (1995)
71                              Juror, The (1996)
607                             Striptease (1996)
55                      Mr. Holland's Opus (1995)
2                         Grumpier Old Men (1995)
239                 Miracle on 34th Street (1994)
540                             Sgt. Bilko (1996)
594                                Twister (1996)
815    Willy Wonka & the Chocolate Factory (1971)
Name: title, dtype: object